# Git
.git
.gitignore
.github/

# Build artifacts
bin/
dist/
coverage.*
*.out
*.prof
*.test

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.swn
*~

# Dependency directories
vendor/

# Documentation
docs/
*.md
!README.md
!CHANGELOG.md
!LICENSE

# Configuration files
.goreleaser*
.golangci.yml
.editorconfig
.dockerignore
Dockerfile*
